@font-face {
    font-family: 'helvetica';
    src: url(fonts/helvetica/Helvetica.ttf) format('truetype')

    
}

@font-face {
    font-family: junicode;
    src: url(fonts/junicode/JunicodeVF-Roman.ttf) format('truetype')
}

@font-face {
    font-family: 'sf';
    src: url(fonts/SF/SF-Pro.ttf) format('truetype')
    
}

@font-face {
    font-family: 'ore';
    src: url(fonts/Ore.ttf) format('truetype')
    
}

@font-face {
    font-family: 'Jet';
    src: url('fonts/jet/fonts/JetBrainsMono-Variable.woff2') format('woff2'),
         url('fonts//fonts/JetBrainsMono-Variable.woff') format('woff'),
         url('fonts/jet/fonts/JetBrainsMono-Variable.ttf') format('truetype');
    font-weight: 100 800;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'jeti';
    src: url('fonts/jet/fonts/JetBrainsMono-VariableItalic.woff2') format('woff2'),
         url('fonts/jet/fonts/JetBrainsMono-VariableItalic.woff') format('woff'),
         url('fonts/jet/fonts/JetBrainsMono-VariableItalic.ttf') format('truetype');
    font-weight: 100 800;
    font-display: swap;
    font-style: italic;
  }


* {
    color: #FAF9F6;
    color: #deddd1;
    font-family: "junicode", "sf","Helvetica", sans-serif;
    /* cursor: none; */
}


h1 {
    font-weight: 600;
}
h2 {
    font-weight: 400;
}
h3 {
    font-weight: 400;
}

p {
    font-family: jet;
}

img.logotop {
    position: absolute;
    padding: 0px;
    top: 0;
    height: 75px;
}

.hide {
    display: none;

}
  
body {
    display: grid;
    grid-template-columns: 2fr 11fr 2fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    margin: 10px;
    overflow-y: hidden;
    background-color: #141414;
}


#placeholder{
    scale: .001;
}

.nav-parent {
    position: fixed;
    left: 45%;
    right: 45%;
    transition: scale 1.3s, color 5s;
    transition-timing-function: ease-in;
    /* background-color: red; */
    overflow: hidden;
    

}

.nav-parent:hover {
    /* make parent wider when its hovered */
    left: 10%;
    right: 10%;
    z-index: 3000;
    scale: 2;
    
}


.nav-content {
    display: block;
    position: relative;
    z-index: 3000;
    scale: .001;
    top: -400px;
    /* background-color: red; */
    height: 1px;
    transition: left 3s, right 3s, top 1.3s, color 5s;
    transition-timing-function: ease-in;
    /* background-color: red; */
    color: #deddd1;
}

.nav-parent:hover .nav-content {
    scale: 1;
    display: block;
    background-color: rgba(20, 20, 20, .7);
    height: auto;
    top: 0;

}



h1, h2 {
    grid-column: span 3;
    text-align: center;
    margin: 0;
    padding: 10px;
}

.body-content {
    display: contents;
}

.item {
    overflow-y: auto;
    padding: 20px;
}

.left, .right {
    position: sticky;
    top: 0;
    height: calc(100vh - 60px); /* Adjust height to include header */
    background-color: #141414;

}

.right p {
    font-family: "Jet";
}

.center {
    background-color: #141414;

    padding-bottom: 100px;
    align-content: center;
}

.center h3 {
    color:#FAF9F6;
    text-align: center;
}

#opening {
    font-size: 10vw;

}

.ds {
    color: inherit;
}


.ds h1,h2,h3,p {
    text-align: left;
    margin-left: 0;    
}

.ds h1 {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 5px;
}




/* Remove scrollbars start */
    * {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* IE 10+ */
    }

    *::-webkit-scrollbar {
        display: none; /* Hide scrollbars for WebKit browsers */
    }
/* Remove scrollbars end */

/* Footer style start */
.footer {
    margin-left: 2vw ;
    display:block;
    position: fixed;
    bottom: 0;
    text-align: right;
    left: 0;
    right: 0;
    background-image: linear-gradient(0deg, #141414, #141414, #00000000); 
    /* General footer style */

}

    .bottom-of-page-links {
    display: flex;
    
}

#signup-butn {
    margin-left: 5%;
    width: 20%;
    left: 43%;
    top: 50%;
    border-radius: 50px;
    height: 70px;
    background-color: #141414;
    border-width: 0;
    transition: scale 1.5s, box-shadow 2s;
    transition-timing-function: ease;
    
}

#signup-butn:hover {
    box-shadow: 0px 0px 0px 1.5px rgba(193, 193, 235, 0.9);
    scale: 1.03;
}

#brainmade {
    padding-top: 0;
    width: 175px;
    box-shadow: none;
    border-radius: 0;
    /* brainmade logo style */
}

/* Footer style end */


.form-popup {
    display:none;
}

.snappinger img {
    max-width: 98%;
    object-fit: fill;
    max-height: calc(90vh - 85px);
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 15px;
    position: relative;
    flex-direction: column;
    margin-top: 1vh;
    margin-bottom: 30vw;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 0px;
    box-shadow: 0px 0px 0px 1.5px rgb(203, 203, 203, 1);
}
.snappinger .blrd {
    filter: blur(4px);
    -webkit-filter:blur(4px);
    opacity: 70%;
}
.snappinger .blrd:hover {
    filter: blur(0px);
    -webkit-filter:blur(0px);
    opacity: 100%;
    transition: 0.3s;
    transition-timing-function: ease-in-out;

}

.signup-form {
    display: none;
    color: #FAF9F6;
    top: 50%;
    left: 50%;
    overflow: visible;
}

.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #141414;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 0px 1.5px rgba(193, 193, 235, 0.9);
    width: 600px;
    z-index: 2900;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container label {
    font-weight: 900;
    margin-top: 10px;
    padding-left: 20px;
    font-family: 'sf', 'helvetica', sans-serif;
}

.form-container input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
    color: #141414;
    padding-left: 20px;
    font-weight: 900;
    font-family: 'sf', 'helvetica', sans-serif;
}

.form-container .butn {
    background: #141414;
    color: #FAF9F6;
    padding: 10px;
    font-weight: 700;
    margin-top: 10px;
    border-radius: 30px;
    border-color: white;
    border-width: 0px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 20px;
    box-shadow: 0 35px 35px rgba(0, 0, 0, 0.25);
    transition: scale .5s, color 10s;
    transition-timing-function: ease-in-out;
    font-family: 'sf', 'helvetica', sans-serif;

    
}

.form-container .butn:hover {
    box-shadow: 0px 0px 0px 1.5px rgba(193, 193, 235, 0.9);
    color: rgba(193, 193, 235, 0.9);
    scale: 1.03;
}

.form-container .cancel {
    background: #141414;
    color: #FAF9F6;
}

.form-container .cancel:hover {
    box-shadow: 0px 0px 0px 1.5px rgba(193, 193, 235, 0.9);
}



/* Circle scroll down element */

.circley {
    position: relative;
    width: 80px;
    left: 45%;
    top: -20vh;
}

#circlebutton {
    position:relative;
    width: 1%;
    height: 1%;
    margin-top: 0;
    top: 0;
    left: 0; /* minus 2.5% is half of the button width to alight properly */
    border: none;
    box-shadow: none;
}

#arrowbutton {
    position:absolute;
    height: 30%;
    width: 30%;
    margin-top: 0;
    top: 35%;
    left: 35%; /* X2 plus the width and it makes up 100% of page width */
    border: none;
    box-shadow: none;
    
}

#textbutton {
    position:absolute;
    height: 100%;
    width: 100%;
    margin-top: 0;
    top: 0;
    left: 0;
    border: none;
    box-shadow: none;
    
}


/* Circle scroll down element end */

.h-yellow-i {
    /* sets highlight to yellow and text to black*/
    /* background-color: yellow; */
    color: #141414;
    color: #F1584F;
    font-style: italic;
    font-family: inherit;
}

.h-green-i {
    /* sets highlight to yellow and text to black*/
    background-color: rgb(12, 191, 12);
    color: #141414;
}

.circley img {
    animation: spin 6s infinite;
    animation-timing-function: linear;
    filter: blur(0);
    -webkit-filter: blur(0);
}


/* Scroll behaviour */


    .snappinger {
        scroll-snap-type: y mandatory;
        height: 90vh;
        overflow-y: scroll;
        scroll-padding-top: 20px;
        
    }

    .snappinger .snp {
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }


@media (min-height: 30em) {
    .section {
        height: 10vh;
    }
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(7deg); }
   95% { transform: rotate(-7deg); }
  100% { transform: rotate(0deg); }
}

.wiggle {
  animation: wiggle 2.5s infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg); }
}

@keyframes bounce {
    0% { transform:translateY(0%); }
   80% { transform:translateY(0%); }
   85% { transform:translateY(12%); }
   95% { transform:translateY(-7%); }
  100% { transform:translateY(-2%); }
}

#arrowbutton {
    animation: bounce 2.5s infinite;
  }

#textbutton {
    animation: spin 2.5s infinite;
  }


@media (max-width: 768px) {
    /* Styles for mobile devices */
    #opening {
        font-size: 50px;
    }
    #arrowbutton {
        display: none;
    }
    #textbutton {
        display: none;
    }

    .snappinger .blrd {
        filter: none;
        -webkit-filter: none;
        opacity: 100%;
    }

    .nav-parent {
        scale: .8;
        right: 1%;
    }
}


/* custom cursor created by user ar2b on codepen */
/* .cmn-cursor {
    z-index: 3000;
    display: none;
    position: fixed;
    left: -5px;
    top: -5px;
    width: 10px;
    height: 10px;
    pointer-events: none;
    mix-blend-mode: difference
}

.cmn-cursor.is-active {
    display: block
}

.cmn-cursor__inner {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #deddd1;
    border-radius: 50%
}

*/